.dropdown-menu {
    background-color: white;
    border: solid 1px black;
  }
  
  .dropdown-menu .dropdown-item {
    border: none;
  }
  
  .dropdown-menu .dropdown-item:hover {
    color: green;
  }  