.dropdown-menu {
    background-color: $colorBC;
    border: solid 1px $colorBG;
  }
  
  .dropdown-menu .dropdown-item {
    border: none;
  }
  
  .dropdown-menu .dropdown-item:hover {
    color: $colorAC;
  }  