.Formulario input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border: 0px solid;
    border-radius: 10px;
    padding-left: 10px;
    transition: all 300ms;

    &[type="submit"] {
        background-color: rgb(46, 184, 126);
        color: white;
        width: 50%;
        padding: 0;
    }

    &[type="text"]:focus {
        border: 2px solid green;
        background-color: rgb(200, 255, 212);
    }
}

.img-size {
    width: 250px;
    height: 200px;
}
  
form {
    text-align: center;
}