.miNavBar {
    background-color: $colorBC;

    a {
        text-decoration: none;
        color: $colorBG;

        :hover {
            color: $colorAC;
        }
    }

    Font {
        font-size: $font-12;
        font-family: "Roboto", sans-serif;
    }
}