// Tamaña Tipografía
$font-12: 0.75rem;
$font-14: 0.875rem;
$font-16: 1rem;
$font-18: 1.125rem;
$font-20: 1.25rem;
$font-24: 1.5rem;
$font-28: 1.75rem;
$font-32: 2rem;

// Colores
$colorAC: green;
$colorBG: black;
$colorBC: white;
$colorEmpresa: blue;

// Transiciones
$trans-500: all 0.5s ease-in-out;
